
LeetCode/obj/Debug/net6.0/LeetCode.GeneratedMSBuildEditorConfig.editorconfig
LeetCode/obj/Debug/net6.0/LeetCode.GeneratedMSBuildEditorConfig.editorconfig
LeetCode/obj/LeetCode.csproj.nuget.dgspec.json
*.json
LeetCode/obj/project.nuget.cache
